@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My Contacts</h1>
    <p class="lead">This app is My Contact list Developer test application</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>About Me</h2>
        <p>
            Experienced Web developer with a demonstrated history of working in the information technology and services industry. Skilled in PHP, MySQL,Javascript/ajax and Computer Hardware. Strong arts and design professional with a Bsc. in ICT and Post Grad Diploma in Education and Training. My future involves 
            me being the best Developer I can be. Hard "SMART" work will always pay-off. I say PUSH (Program Until Something Happens) 
        </p>
        <p><a class="btn btn-default" href="https://jm.linkedin.com/in/okeino-mcgowan-b1b00018">Learn more &raquo;</a></p>
    </div>
  
</div>